@{
    ViewData["Title"] = "Home Page";
}

<div id="content">
    <a href="https://api.instagram.com/oauth/authorize/?client_id=a70d888fa7114376a251d49fce2f2241&redirect_uri=http://localhost:57300/Home/About&response_type=code">Authorize</a>
</div>