@{
    ViewData["Title"] = "Home Page";
}

<div id="content">
    <h3>@ViewData["request"]</h3>
    <div id="self">
        <h3>Me</h3>
        <pre>@ViewData["me"]</pre>
    </div>
    <div id="userById">
        <h3>Me By Id</h3>
        <pre>@ViewData["userById"]</pre>
    </div>
    <div id="selfRecent">
        <h3>Me By Id</h3>
        <pre>@ViewData["selfRecent"]</pre>
    </div>
</div>