@{
    ViewData["Title"] = "Home Page";
}

<h3>Access Token: @ViewData["AccessToken"]</h3>

<div id="content">
    <a href="@ViewData["AuthorizationUrl"]">Authorize with Token</a>
    <h3>@ViewData["message"]</h3>
</div>