@{
    ViewData["Title"] = "Home Page";
}

<h3>Access Token: @ViewData["AccessToken"]</h3>

<div id="content">
    <a href="@ViewData["AuthorizationEndpoint"]">Authorize with Token</a>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var fragment = location.hash;

            if (fragment.indexOf("#") > -1) {
                console.log('/Home/About?' + fragment.replace(/^.*#/, ''));
                window.location.replace('/Home' + '?' + fragment.replace(/^.*#/, ''));
            }
        });
    </script>
}